.card-small {
  border: .2em solid black;
  border-radius: 10%;
  height: 100px;
  width: 70px; /*70% of height*/
  margin: 1px;
  float: left;
  background-color: white;
}

.card-value {
  margin: 0;
  margin-left: 5px;
  margin-top: 5px;
  text-align: top left;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
}

.card-suit {
  text-align: top left;
  margin: 0;
  margin-left: 5px;
  font-size: 1.4em;
}

.card-bottom {
  transform: rotate(180deg);
}

.card-back {
  width: 100%;
}

.red {
  color: red;
}

.black {
  color: black;
}

.empty-seat{
  height: 100px;
  width: 100px;
}

.empty-seat-select {
  color: royalblue;
}

.player-container {
  height: 150px;
  width: 165px;
  position: relative;
}

.player-cards {
  position: relative;
  margin: auto;
}

.player-dashboard {
  border: .2em solid black;
  border-radius: 10%;
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background-color: darkgrey;
}

.player-name {
  font-size: 20px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  margin-left: 10px;;
  top: 50%;
  transform: translateY(-50%);
}

.player-chips {
  font-size: 20px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  vertical-align: middle;
  margin-right: 10px;;
  top: 50%;
  transform: translateY(-50%);
}

.poker-table {
  background-color: green;
  height: 555px; /* 0.555 of width */
  width: 1000px;
  border-radius: 375px; /* 0.375 of width */
  border: 1em solid black;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.poker-table-container {
  position: relative;
  height: 1000px;
  width: 1500px;
  left: 50%;
  transform: translate(-50%);
}

.action-center {
  position: absolute;
  border: .2em solid black;
  border-radius: 10%;
  height: 250px;
  width: 300px;
  bottom: 5px;
  right: 5px;
}

.root-background {
  background-color: lightgrey;
  position: relative;
  width: 100%;
  height: 100%;
}